@use './app/theme/styles/reset';
@use './app/theme/styles/variables';
@use './app/theme/styles/typography';
@use './app/theme/styles/mixins';
@use './app/theme/styles/breakpoints';

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #111827;
  overflow-x: hidden;
}