@use './app/theme/styles/reset';
@use './app/theme/styles/variables';
@use './app/theme/styles/typography';
@use './app/theme/styles/mixins';
@use './app/theme/styles/breakpoints';
@use './app/theme/styles/themes';

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;

}

body {

  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: var(--background);

  color: var(--text-primary);

}

img {

  max-width: 100%;

  display: block;

}

a {

  color: inherit;

  text-decoration: none;

}

.container {

  @include mixins.container;

}