.header {

    position: sticky;
    top: 0;
    z-index: 1000;

    background: white;
    border-bottom: 1px solid #ececec;
}

.header-container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    width: 100%;
}

.logo img {

    height: 48px;

}

.desktop-menu {

    display: flex;

    gap: 8px;

}

.desktop-menu a.active {

    color: var(--primary);

    font-weight: 600;

}

.mobile-menu {

    display: none;

}

@media(max-width:768px){

    .desktop-menu{

        display:none;

    }

    .mobile-menu{

        display:block;

    }

}